@import "./variables";
@import "./mixins";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
}

/*Header*/
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.brand {
  font-family: 'Playfair Display', serif;
  float: right;
  color: $mainColor;
  text-decoration: none;
  padding: 2%;
}

.nav {
  display: none;

}

input:checked~ul {
  display: block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  background-color: $mainColor;
  color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 2%;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

label:hover {
  background-color: $accentColor;
}

li {
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: block;
  margin: 0;
  padding: 10px;
  list-style: none;


}

li a {
  text-decoration: none;
}

li:hover {
  background-color: $accentColor;
  transition: 0.2s;
}

/*Home*/
a {
  text-decoration: none;
  color: $mainColor;
}

a:hover {
  color: $mainColor;
}

.cover {
  background-image: url(/img/Producto01.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 100px 0px 100px 0px;
  margin: auto;
}

.cover__text--background {
  background-color: hsla(300, 20%, 93%, 0.856);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cover__title {
  font-family: 'Playfair Display', serif;
  padding: 2em;
  color: $mainColor;
  text-align: center;
}

.cover__text {
  font-family: 'Playfair Display', serif;
  z-index: 100;
  color: $mainColorText;
  padding: 0em 2em 2em 2em;
  display: flex;
  align-items: center;
  text-align: center;

}

.cover__button {
  @include btn();
  color: white;
}

.cover__button a {
  color: white;
}

.cover__button:hover {
  opacity: 0.8;
  background: $accentColor;
  transition: 0.2s;
}

/*Sobre Mi */
.about {
  width: 100%;
  margin: auto;
  min-width: 320px;
}

.about__image {
  width: 100%;
}

.about__text {
  color: $mainColorText;
  padding: 2em 2.5em 2em 2.5em;
  text-align: justify;
}

/* Titles*/
.other__title {
  @include title();
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  color: $mainColorText;
  font-size: 1em;
  text-align: center;
  padding-bottom: 2em;
}

#btnAñadir {
  @include btn();
  z-index: 999;

}

#btnAñadir:hover {
  background-color: $accentColor;
  transition: 0.2s;
}


.fa-shopping-cart {
  color: $accentColor;
}


.grid-tienda {
  display: grid;
  grid-gap: em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  max-width: 600px;
  margin: 2em;

}


.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $secondaryColor;
  padding: 1rem;
  height: 250px;
  width: 100%;
  max-width: 250px;
  margin: 1em;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;

}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: $mainColor;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.textProduct {
  background-color: $mainColor;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}

a:hover {
  color: white;
}

.text:hover {
  background-color: $accentColor;
  transition: 0.2s;
}

/*Footer*/

footer {
  font-family: 'Playfair Display', serif;
  background-color: $mainColor;
  grid-area: footer;
  padding: .5em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*social media*/

.fa {
  padding: 12px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  color: $accentColor;
  transition: 0.2s;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-linkedin {
  color: white;
}

.light-text {
  color: white;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  * {
    margin: 0px;
    padding: 0px;
  }

  /*Header*/
  .brand {
    display: flex;
    justify-content: flex-start;
    font-size: 1.6em;
    color: $mainColor;
    padding: 3em 2em 3em 1em;
  }

  .brand:hover {
    color: $accentColor;
  }

  .nav {
    margin: auto;
    width: auto;
    padding: 0em 4.5em 3em 2em;
    font-size: 1em;
    display: flex;
    align-items: center;
    z-index: 999;
  }

  ul,
  ol {
    list-style: none;
    z-index: 999;
  }

  .nav li a {
    color: $mainColor;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
  }


  body {
    font-family: 'Playfair Display', serif;
    display: grid;
    grid-template-areas:
      "header	 header	 header"
      "main	 main		 main"
      "main	 main		 main"
      "footer	 footer	 footer";
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 1em 1em;
    height: 1em;
  }

  main {
    grid-area: main;
    display: flex;
    flex-flow: column;
    grid-template-columns: minmax(min-content, 200px) 1fr minmax(auto, 200px);
    grid-template-rows: auto 1fr auto;
    margin: auto;
  }

  footer {
    background-color: $mainColor;
    grid-area: footer;
    padding: .5em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*Home*/

.cover {
  background-image: url(/img/Producto01.jpg);
  background-size: cover;
  min-width: 1200px;
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.cover__title {
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  z-index: 100;
  max-width: 500px;
  color: $mainColor;
  padding: 3em 0 2em 0;
  margin: 0%;

}

.cover__text {

  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 1;
  color: $mainColorText;
  max-width: 400px;
  padding: 2em;
  margin: auto;
}

.cover__button {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  @include btn();
  z-index: 999;

}

.cover__button:hover {
  opacity: 0.8;
  background: $accentColor;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: white;
}

.dark-text {
  color: #6b616b;
  text-align: left;
}

.light-text {
  color: white;
}

/*Sobre Mi*/

.about {
  width: 90%;
  max-width: 90%;
}

.about__text {
  padding: 1em, 8em, 2em, 8em;
  margin: auto;
  text-align: justify;
  max-width: 700px;
}

/*Contacto*/

.contact__title {
  position: relative;
  color: $mainColor;
  margin: 100px 0 25px 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 7px;

}

.contact__form {
  padding: 2em;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  position: relative;
  width: 500px;
  margin: auto;
}


.contact__input {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 0.875em;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #8a548b;
  border: solid 1px hsla(298, 34%, 43%, 0.3);
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 470px;
}

.contact__input:hover {
  background: hsla(298, 34%, 43%, 0.3);
  ;
  color: #8a548b;
}

textarea {
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: $mainColorText;
  font-family: 'Playfair Display', serif;
  font-size: 0.875em;
  border: solid 1px hsla(298, 34%, 43%, 0.3);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: $secondaryColor;
  color: $mainColor;
}

.contact__submit {
  min-width: 207px;
  display: block;
  padding: 1em;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 0.875em;
  color: $mainColor;
  outline: none;
  cursor: pointer;
  border: solid 1px $secondaryColor;
  border-top: none;
  width: 500px;
}

.contact__submit:hover {
  background-color: $accentColor;
  color: white;
}

/*Tienda*/

.grid-tienda {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 600px;
  margin: 5em;

}


.btnAñadir {
  @include btn();
  z-index: 999;
  padding: 1em, 0.5em, 1em, 0.5em;

}

.btnAñadir:hover {
  background-color: $accentColor;
  transition: 0.2s;
}


.tienda-image {
  height: 130px;
  width: 100%;
  margin: 0.5rem 0;
}

.tienda-image:hover {
  transform: scale(1.2, 1);
  transition: all 0.5s;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $secondaryColor;
  padding: 1rem;
  padding-bottom: 4em;
  height: 250px;
  width: 100%;
  max-width: 250px;
  margin: 1em;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;

}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: $mainColor;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*Carrito*/

.textProduct {
  background-color: $mainColor;
  color: white;
  font-size: 16px;
  text-align: center;

}

.fa-shopping-cart {
  color: $mainColor;
  border: none;
  border-radius: 50%;
  outline: none;
}

.fa-times-circle {
  color: $mainColor;
  border: none;
  border-radius: 50%;
  outline: none;
}

.modal-ventana {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  display: flex;
  align-items: center;
}

.modal-carrito {
  min-width: 500px;
  background-color: white;
  padding: 2em;
}

.productoEnCarrito {
  border-left: 5px solid $secondaryColor;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productoEnCarrito:hover {
  background-color: $secondaryColor;
}

#btn-carrito {
  border: none;
  right: 0;
  position: fixed;
  padding-right: 1em;
  border-radius: 50%;
  background-color: transparent;
}

#btn-carrito:focus {
  outline: none;
  border: none;
}

#carritoCerrar {
  border: none;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 15px;
  right: 15px;

}

#carritoCerrar:focus {
  outline: none;
  border: none;
}

.boton-eliminar {
  background-color: transparent;
  color: $mainColorText;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

.carrito-text {
  color: $mainColorText;
}

#contador-carrito {
  color: $mainColor;

}

#btnConfirmar {
  @include btn();
  z-index: 999;
  display: inline-block;
  align-items: center;
  margin: auto;
}
#btnConfirmar:hover{
  background-color:$accentColor;
}
#btnVolver {
  @include btn();
  z-index: 999;
  display: inline-block;
  align-items: center;
  margin-top: 2em 1em 1em 1em;
  margin-bottom: 0;
  background-color: gray;
}
#btnVolver:hover{
  background-color:$accentColor;
}

.precioProducto {
  margin-top: 1em;
  color: rgb(54, 54, 54)
}

#btn1 {
  @include btn();
  align-items: center;
}

#imgJson {
  width: 800px;
  height: 200px;
}

#img1 {
  max-width: 800px;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.contact__input__new {
  display: block;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 0.875em;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #8a548b;
  border: solid 1px hsla(298, 34%, 43%, 0.3);
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  width: 470px;
}

.contact__input__new:hover {
  background: hsla(298, 34%, 43%, 0.3);
  ;
  color: #8a548b;
}

.contact__submit__new {
  min-width: 207px;
  display: block;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  font-family: 'Playfair Display', serif;
  font-size: 0.875em;
  color: $mainColor;
  outline: none;
  cursor: pointer;
  border: solid 1px $secondaryColor;
  width: 500px;
}

.contact__submit__new:hover {
  background-color: $accentColor;
  color: white;
}

.valido_text {
  margin: auto;
  font-size: 1em;
  margin-bottom: 1em;
}

.carrito-text.carrito-precio {
  position: fixed;
  margin-left: 170px;
}

.carrito-text.carrito-cant {
  position: fixed;
  margin-left: 300px;
}

#cargando { 
  display:none 
}